descartes
geopandas~=0.12.2
matplotlib~=3.7.1
hdbscan~=0.8.29
numpy~=1.24.2
tqdm~=4.65.0
pyproj
scipy~=1.10.1
pyogrio
shapely~=2.0.1
fiona
rtree
nbsphinx
prettytable~=3.6.0
pandas~=2.0.0
dask~=2023.3.2
pyarrow
# [dev]
# seaborn
pyinterpolate~=0.4
Pillow~=9.5.0