descartes
geopandas
matplotlib
numpy
tqdm
pyproj
scipy
shapely
pyogrio
fiona
rtree
prettytable
pandas
dask
sphinx>6
nbsphinx
numpydoc
pydata-sphinx-theme
sphinx-copybutton
pylibtiff<=0.5.1
pyarrow
scikit-learn==1.2.2
notebook
